[submodule "FundNForget-foundry/lib/forge-std"]
	path = FundNForget-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "FundNForget-foundry/lib/openzeppelin-contracts"]
	path = FundNForget-foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "FundNForget-foundry/lib/v4-template"]
	path = FundNForget-foundry/lib/v4-template
	url = https://github.com/uniswapfoundation/v4-template
